body {
    background-color: #eeeeee;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 14px;
}
.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.fa-bars {
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    background-color: #305dff;
    filter: drop-shadow(3px 3px 2px #a4a4a4);
}
.header__logo {
    color: #305dff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}
