.mypage-container {
    max-width: 1230px;
    margin: 0 auto 10px;
    padding: 0 70px;
}
.mypage__name {
    text-align: center;
}
.status {
    width: 40%;
}
.mypage-layout {
    display: flex;
    column-gap: 40px;
}
.status-container {
    background-color: #305dff;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #a4a4a4;
    height: 240px;
    margin-bottom: 10px;
}
.status__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.status__number {
    margin-right: 150px;
    color: #fff;
}
.status__delete {
    border: none;
    background-color: #305dff;
    color: #fff;
    cursor: pointer;
}

.status__delete:hover {
    color: #ff0c06;
}

.status__list-layout {
    display: flex;
    margin: 0 10px;
}

.status__list-term {
    width: 20%;
    color: #fff;
}

.status__list-description {
    color: #fff;
}

.status__list-layout:not(:first-of-type) {
    margin-top: 10px;
}

.card__content-link-layout {
    display: flex;
    justify-content: space-between;
}
.fa-clock {
    color: #fff;
}
.favorite-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}
.card {
    background-color: #fff;
    height: 240px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #a4a4a4;
}
.card__img img {
    border-radius: 4px 4px 0 0;
}
.card__content {
    margin: -10px 10px 0 10px;
}
.card__content-name {
    font-size: 18px;
}
.card__content-tag {
    display: flex;
}
.card__content-tag-item {
    line-height: 0.5;
    margin-top: -10px;
}
.card__content-link-item {
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #305dff;
    border-radius: 4px;

}

.fa-heart {
    font-size: 30px;
    color: #ff0000;
    vertical-align: middle;
    cursor: pointer;
}
