body {
    color: #fff;
}

.review-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 50px;
}

.review__inner {
    width: 550px;
    margin: 0 auto;
    box-shadow: 3px 3px 2px #a4a4a4;
    border-radius: 4px;
    background-color: #305dff;;
}

.review__title {
    padding-top: 10px;
    text-align: center;
}

.review-list {
    padding: 5px 10px;
}

.review-list-layout {
    display: flex;
    width: 100%;
}

.review-list-layout:not(:first-of-type) {
    margin-top: 10px;
}

.review-list__term {
    width: 20%;
    position: relative;
}

.review-list__description {
    width: 80%;
}

.review-list__rate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.review-list__rate-text {
    position: absolute;
    transform: translate(100px, -13px);
}

.review-list__rate-input {
    display: none;
}

.review-list__rate-label {
    color: #ccc;
    cursor: pointer;
}

.review-list__rate-label:hover {
    color: #ffcc00;
}

.review-list__rate-label:hover ~ .review-list__rate-label {
    color: #ffcc00;
}

.review-list__rate-input:checked ~ .review-list__rate-label {
    color: #ffcc00;
}

.review-list__rate-text {
    display: inline;
}

.review-link {
    padding: 10px;
    text-align: center;
}

.review-list__description--textarea {
    width: 100%;
    resize: none;
}

.review-link__item {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.review-link__submit {
    margin-left: 20px;
    vertical-align: text-bottom;
    color: #0538ff;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fff;
        cursor: pointer;
}

.review-link__submit:hover {
    background-color: #fff;
    color: #ff0000;
}

.form__error {
    text-align: center;
    color: #ff0000;
}
@media screen and (max-width: 768px) {
    .review__inner {
        width: 90%;
    }

    .form__error {
        font-size: clamp(10px, 1.3vw, 20px);
    }
}

@media screen and (max-width: 480px) {
    .review-list-layout:not(:first-of-type) {
        display: block;
    }

    .review-list__term {
        width: 100%;
    }

    .review-list__description {
        margin: 0 auto;
        width: 100%;
    }

    .review-list__rate-input {
        width: 100%;
    }
}